<%= simple_form_for(@classroom) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    	
    <%= f.association :student %>

    <%= f.association :course %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
