<p id="notice"><%= notice %></p>

<p>
  <strong>Entry at:</strong>
  <%= @classroom.entry_at %>
</p>

<p>
  <strong>Student:</strong>
  <%= @classroom.student.name %>
</p>

<p>
  <strong>Course:</strong>
  <%= @classroom.course.name %>
</p>

<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
